* {
    margin: 0;
    padding: 0;
}

body {

    background-color: #eee;

}

nav {
width: 100%;
height: 100px;
background-color: #fff;

}

ul {
    margin-left: 60px;
}

ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 100px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-size: 14;
    font-family: arial;
    color: #1e1e1e;
    padding: 0 20px;
}

ul li a:hover {
    color: red;

}

.content-table {
    border-collapse: collapse;
    margin: 50px 50px;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.content-table thead tr {
    background-color: #7cac5a;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

    .content-table th,
    .content-table td {
        padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}


.content-table tbody tr:nth-of-type(even) {
    background-color: #fff;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #f3ffed;
}

.content-table tbody tr: :last-of-type {
    border-bottom: 2px solid #7cac5a;  
}

.border_div {
    margin-top: 50px;
    margin-left: 50px;
    padding: 0 0 0 0;
}

.background-image {
    background-image: url('image/Gyro_title.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}